
.playlist_container{
    background-color: rgb(255, 255, 255);
    width: 20%;
    font-size: small;
    border-radius: 4px;
    border: 1px solid ;
    top: 50%;
    left: 50%;
    position: absolute
}

.items_in_playlist, .dialog_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(192, 187, 187);
}

.playlist_title_border{
    padding: 7px;
}

.playlist_list{
    display: flex;
    flex-direction: column;
}

.modal_btn{
    margin: 10px;
}

.dialog_footer_btn{
    margin-left:auto;
    cursor: pointer;
    font-weight:500;
    border:transparent;
    position: relative

}


