.container_sidebar {
    /* grid-area: sidebar; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_nav {
    width: 12rem;
}

.sidebar_nav_icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
    font-weight:bold;
}

.active-link{
   color: black;
   font-weight: bolder;
   font-size: large;
}

.active{
    background-color: rgb(189, 185, 185);
    color: black;
}
.sidebar_nav_icons:hover {
    background-color: rgb(231, 227, 227);
    border-radius: 0.4rem;
}

.sidebar_nav_icons_name {
    padding-left: 2rem;
}

.container_main {
    flex-direction: row;
}

.list-style {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(85, 76, 76);
}

@media screen and (max-width : 1000px){
    .container_sidebar{
        display: none;
    }
}