.container_videolist {
    display: grid;
    gap: 20px;
  
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "head      head    head    head    head    head "
      "sidebar   main    main    main    main    main "
      "sidebar   main    main    main    main    main "
      "sidebar   main    main    main    main    main "
      "sidebar   main    main    main    main    main "
      "footer   footer  footer  footer  footer  footer";
  } 
   
  .largest_header {
    margin-left: 1rem;
  }
  
  .parent{ 
    grid-area: main;
    gap: 3rem;
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center ; */
    
}
