:root{
  --shadow-color : black;
  --hero-text-color : white;
}

.container_home {
    display: grid;
    column-gap:20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
     
      "head    head    head     head    head"
      "section section section section  section"
      "....    main    main    main     ....."
      ".....   main    main    main     ....."
      "footer footer  footer   footer   footer"
  
  }

  .hero_img_container{
      grid-area: section;
      position: relative;
      height: 80vh;
      margin-bottom: 4rem;
  }

  .hero_img_width{
      width: 100%;
      height: 100%;
      filter: blur(2px);
      object-fit: cover;
      object-position: top;
  }

  
  .hero_image_content {
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
  }

  .main_tagline {
      display: block;
      font-size: 2rem;
      letter-spacing: 1rem;
      color: var(--hero-text-color);
      text-shadow: 2px 2px 5px var(--shadow-color);
  }

  .sub_tagline{
    color: var(--hero-text-color);
    text-shadow: 2px 2px 5px var(--shadow-color);
  }


  